.day-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 12.5%;
    height: 20%;
    margin: 2px;
    color: white;
    border: solid black;
    border-radius: 10px;
    font-weight: 900;
    cursor: pointer;
}

.day-card:hover {
    border: solid black 4px;
}

#orange {
    background-color: rgb(255, 98, 0);
}

#yellow {
    background: rgb(231, 231, 39);
}

#blue {
    background: blue;
}

#green {
    background: green;
}

#red {
    background: red;
}