.App {
display: flex;
flex-direction: column;
justify-content: flex-start;
height: 100%;
width: 100%;
}

.react-calendar {
    height: 10%;
}

.day-label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 15%;
}

.day-card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
    width: 100%;
    height: 75%;
}